<!-- #######  YAY, I AM THE SOURCE EDITOR! #########-->
<h2 style="color: #5e9ca0; text-align: center;"><span style="color: #0000ff;"><strong>{{subs}}</strong></span></h2>
<h3 style="color: #5e9ca0; text-align: center;"><span style="color: #0000ff;"><strong>{{bay}} - {{ied}}</strong></span></h3>
<hr />
<h3 style="color: #2e6c80; text-align: center;"><span style="text-decoration: underline; color: #0000ff;">Detail:</span></h3>
<table class="editorDemoTable" style="border-style: none; height: 128px; width: 379px;">
<thead>
<tr style="height: 18px;">
<td style="width: 117.453px; height: 10px; vertical-align: top;"><strong>IED Name</strong></td>
<td style="width: 247.547px; height: 10px;">{{ ied }}</td>
</tr>
<tr style="height: 10px;">
<td style="width: 117.453px; height: 10px; vertical-align: top;"><strong>Serial Number</strong></td>
<td style="width: 247.547px; height: 10px;">{{ serial }}</td>
</tr>
</thead>
<tbody>
<tr style="height: 22px;">
<td style="width: 117.453px; height: 10px; vertical-align: top;"><strong>Version</strong></td>
<td style="width: 247.547px; height: 10px;">{{ version }}</td>
</tr>
<tr style="height: 22px;">
<td style="width: 117.453px; height: 10px; vertical-align: top;"><strong>IP Address</strong></td>
<td style="width: 247.547px; height: 10px;">{{ IP }}</td>
</tr>
<tr style="height: 22px;">
<td style="width: 117.453px; height: 10px; vertical-align: top;"><strong>Subnet</strong></td>
<td style="width: 247.547px; height: 10px;">{{ Subnet }}</td>
</tr>
<tr style="height: 22px;">
<td style="width: 117.453px; height: 10px; vertical-align: top;"><strong>Default GW</strong></td>
<td style="width: 247.547px; height: 10px;"><span id="demoId">{{ DefaultGW }}</span></td>
</tr>
<tr style="height: 22px;">
<td style="width: 117.453px; height: 10px; vertical-align: top;"><strong>GPS IP1</strong></td>
<td style="width: 247.547px; height: 10px;">{{ GPS1 }}</td>
</tr>
<tr style="height: 22px;">
<td style="width: 117.453px; height: 10px; vertical-align: top;"><strong>GPS IP2</strong></td>
<td style="width: 247.547px; height: 10px;">{{ GPS2 }}</td>
</tr>
<tr style="height: 22px;">
<td style="width: 117.453px; height: 10px; vertical-align: top;"><strong>Username</strong></td>
<td style="width: 247.547px; height: 10px;">{{ user }}</td>
</tr>
<tr style="height: 22px;">
<td style="width: 117.453px; height: 10px; vertical-align: top;"><strong>Password</strong></td>
<td style="width: 247.547px; height: 10px;">{{ password }}</td>
</tr>
<tr style="height: 22px;">
<td style="width: 117.453px; height: 10px; vertical-align: top;"><strong>Protocol</strong></td>
<td style="width: 247.547px; height: 10px;">{{ protocol }}</td>
</tr>
<tr>
<td style="width: 117.453px; vertical-align: top;"><strong>Notes</strong></td>
<td style="width: 247.547px; text-align: left;"><span style="color: #ff0000;">{% autoescape false %} {{ notes }} {% endautoescape %}</span></td>
</tr>
</tbody>
</table>
<p><strong>For more information, please contact Automation Dep.</strong><strong>!</strong></p>